@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,900&display=swap');

@import "tailwindcss";


*{
  font-family: "Roboto", sans-serif;
}

html,body{
  width: 100%;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;   /* Safari and Chrome */
  height: 0;  /* For horizontal scroll */
}
